<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">홈</a></li>
    <li class="breadcrumb-item active" aria-current="page">사용자 보기</li>
  </ol>
</nav>

<div class="view-user p-5">
  {{#each 받은데이터}}
  <div class="row mb-5">
    <div class="col text-center">
      <h3>{{this.name}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col1">이름</th>
            <th scope="col1">이메일</th>
            <th scope="col1">폰번호</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{this.name}}</th>
            <td>{{this.email}}</td>
            <td>{{this.phone}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row mb-2">
      <div class="col">
        <b>Comments</b>
      </div>
    </div>

    <div class="row">
      <div class="col">
        {{this.comments}}
      </div>
    </div>

  </div>
  {{/each}}
</div>